<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button>
      <mat-icon [matMenuTriggerFor]="menu">menu</mat-icon>
      <mat-menu #menu="matMenu">
        <button [routerLink]="'/user'" (click)="setTitle('Users')" mat-menu-item>User</button>
        <button [routerLink]="'/loginhistory'" (click)="setTitle('Login History')" mat-menu-item>Login History</button>
        <button [routerLink]="'/about'" (click)="setTitle('About')" mat-menu-item>About</button>
      </mat-menu>
    </button>
    <!-- <h1>{{title}}</h1> -->
    <span class="menu-spacer"></span>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet></router-outlet>